
@font-face {
    font-family: 'gotham-black';
    src: url('../fonts/Gotham-Black.otf') format("opentype");
  }
  @font-face {
    font-family: 'clip';
    src: url('../fonts/Clip.ttf') format("truetype");
  }
  @font-face {
    font-family: 'gotham-thin';
    src: url('../fonts/Gotham-Thin.otf') format("opentype");
  }@font-face {
    font-family: 'gotham-thin-italic';
    src: url('../fonts/Gotham-ThinItalic.otf') format("opentype");
  }@font-face {
    font-family: 'gotham-ultra-italic';
    src: url('../fonts/Gotham-UltraItalic.otf') format("opentype");
  }@font-face {
    font-family: 'gotham-xlight';
    src: url('../fonts/Gotham-XLight.otf') format("opentype");
  }@font-face {
    font-family: 'gotham-xlight-italic';
    src: url('../fonts/Gotham-XLightItalic.otf') format("opentype");
  }@font-face {
    font-family: 'gotham-bold';
    src: url('../fonts/GothamBold.ttf') format('truetype');
  }@font-face {
    font-family: 'gotham-bold-italic';
    src: url('../fonts/GothamBoldItalic.ttf') format('truetype');
  }@font-face {
    font-family: 'gotham-book';
    src: url('../fonts/GothamBook.ttf') format('truetype');
  }
  @font-face {
    font-family: 'gotham-book-italic';
    src: url('../fonts/GothamBookItalic.ttf') format('truetype');
  }@font-face {
    font-family: 'gotham-light';
    src: url('../fonts/GothamLight.ttf') format('truetype');
  }@font-face {
    font-family: 'gotham-light-italic';
    src: url('../fonts/GothamLightItalic.ttf') format('truetype');
  }@font-face {
    font-family: 'gotham-medium';
    src: url('../fonts/GothamMedium_0.ttf') format('truetype');
  }@font-face {
    font-family: 'lato-black';
    src: url('../fonts/Lato-Black.ttf') format('truetype');
  }@font-face {
    font-family: 'lato-black-italic';
    src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
  }@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
  }@font-face {
    font-family: 'lato-bold-italic';
    src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
  }@font-face {
    font-family: 'lato-italic';
    src: url('../fonts/Lato-Italic.ttf') format('truetype');
  }@font-face {
    font-family: 'lato-light';
    src: url('../fonts/Lato-Light.ttf') format('truetype');
  }@font-face {
    font-family: 'lato-light-italic';
    src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
  }@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
  }@font-face {
    font-family: 'carson';
    src: url('../fonts/Carson.otf') format("opentype");
  }@font-face {
    font-family: 'script';
    src: url('../fonts/script.ttf') format('truetype');
  }



/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0be6af; 
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #19bc98; 
}

body, h1, h2, h3, h4, h5, h6, p, span, a, li, ul, div{
    font-family: 'lato-regular'
}

body{
    background: #00100e !important;
    color: #fff !important;
    overflow-x: hidden;
}

button{
    display: -webkit-inline-box !important;

}
button, input[type="dropdown"], input[type="button"], input[type="text"], select{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}
.dropdown-select{
    
}

.background-overlay{
    
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

.table-responsive{
    overflow-y: auto !important;
}
.recent-section{
}
.card{
    background-color: #19bc98;
    position: relative;
    cursor: pointer;
}
.card-img, .card-img-top{
    width: 100%;
    opacity: 1;
    height: 196px;
    display: block;
    transition: .5s ease;
}
@media(min-width: 550px) and (max-width: 991px){
    .card-img, .card-img-top{
        height: 300px;
    }
}
@media(min-width: 450px) and (max-width: 549px){
    .card-img, .card-img-top{
        height: 275px;
    }
}
@media(max-width: 449px){
    .card-img, .card-img-top{
        height: 196px;
    }
}


.slick-slide .card-img{
    height: 450px;
}
@media(min-width: 992px) and (max-width: 1500px){
    .slick-slide .card-img{
        height: 250px;
    }
}

@media(min-width: 650px) and (max-width: 991px){
    .slick-slide .card-img{
        height: 450px;
    }
}
@media(min-width: 475px) and (max-width: 649px){
    .slick-slide .card-img{
        height: 350px;
    }
}
@media(min-width: 320px) and (max-width: 474px){
    .slick-slide .card-img{
        height: 300px;
    }
}
@media(min-width: 1px) and (max-width: 400px){
    .slick-slide .card-img{
        height: 250px;
    }
}

.slider-action{
    
    background: transparent !important;
    color: #fff !important;
    border-color: #fff !important;
    padding: 4px 20px !important;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 20px !important;
    font-size: 12px !important;

}
.slider-action-icon{
    width: 27px;
    margin-top: -19px;
    margin-bottom: -16px;
    margin-left: -21px;
    margin-right: 5px;
}

.overlay {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 50%;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    transition: .5s ease;
    transform: translate(-50%, 0%);
    padding: 2%;
}
.middle .play-button{
    padding: 1%;
}
.middle .play-button img{
    width: 30%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.middle .play-text{
    padding: 1%;
    overflow: hidden;
    color: #000;
}
.middle .play-text p{
    font-family: 'lato-regular'
}
.middle .play-label{
    font-family: 'lato-black';
    font-weight: 700;
    color: #000;
    padding: 1%;
    font-size: 14px;
    float: none;
}

.section{
    padding-top: 4%;
    padding-bottom: 1%;
}
.content-section .middle{
    
    max-height: 100%;
    padding: 0%;
}

.clip{
    font-family: 'clip'
}


.middle {
    overflow: hidden;
    max-height: 80%;
    width: 100%;
    padding: 0% 20%;
    text-align: center;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.card:hover .card-img {
    opacity: 0.2;
  }

.card:hover .rating{
    opacity: 1;
  }

  .continue-watch .card:hover .card-img{
      opacity: 1;

  }
  
  .card:hover .middle {
    opacity: 1;
  }
  .card:hover .overlay {
    opacity: 0;
  }


  .play-icon{
    padding: 1% 4%;
    float: left;
    width: 45px;
  }
  .play-icon img{
    width: 100%;
  }
  .overlay .play-label h5{
      font-family: 'lato-black';
    vertical-align: middle !important;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 14px;
}

  .overlay .play-label{
    float: left;
    padding: 8px;
    width: 50%;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.card-title{
    font-weight: 700;
    font-size: 16px;
}

.no-padding{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.before:before{
    
    width: 44px;
    content: '';
    height: 0px;
    border-style: solid;
    border-width: 0 0 44px 44px;
    border-color: transparent transparent blue transparent;
}

.heading-container{
    padding: 0 0 4% 0;
    margin-bottom: 10px;
}
.heading-container .heading{
    padding: 0;
    margin: 0;
    width: 80px;

}

.desc-container {
    display: table;
    min-height: 100%;
    
    max-height: 100%;
}
.desc-content{
    display: table-cell;
    vertical-align: middle;
    width: 500px;

}
.music-sub{
    color: #949796;
    font-size: 14px;
}
.season-top{
    color: #949796;
    font-size: 12px;
    padding-top: 8px;
}
.season-top span{
    color: #fff;
    padding-right: 5px;
    font-size: 12px;
}
.season-top i{
    font-size: 10px !important;
}

.movie-top{
    color: #949796;
}
.movie-top span{
    color: #fff;
    padding-right: 5px;
}
.movie-title{
    line-height: 60px;
    font-family: 'lato-black';
    font-size: 40pt;
    color: #0be6af; 
    padding-top: 15px;
    padding-bottom: 15px;
}
.movie-head{
    font-size: 14pt;
    padding-bottom: 10px;
}
.season-sub{
    color: #949796;
    font-size: 14px;
}

.music-header{
    background: #0a1110;
    display: flex;
    
}
.music-title{
    line-height: 15px;
    font-family: 'lato-black';
    font-size: 16pt;
    color: #0be6af;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.profile-title{
    line-height: 20pt;
    font-family: 'lato-regular';
    font-size: 20pt;
    color: #0be6af;
    padding-top: 15px;
    padding-bottom: 15px;
}
.package-title{
    line-height: 30pt;
    font-size: 30pt;
    color: #0be6af;
}
.season-title{
    line-height: 15px;
    font-family: 'lato-black';
    font-size: 16pt;
    color: #0be6af;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.music-header img{   
    float: left; 
    width: 100%;
}
.music-action-icon{
    width: 25px !important;
    height: 25px !important;
    margin-top: -4px;
    margin-bottom: -20px;
    margin-left: -21px;
    margin-right: 5px;

}
.music-header-content{
    padding-top: 10px;
}


.movie-sub-text{
    font-family: 'lato-regular';
    padding-top: 10px;
    padding-bottom: 10px;
}
.movie-sub{
    color: #949796;
}

.movie-extra{
    position: relative;
    left: 0;
    bottom: 10px;
}
@media(max-width: 991px){
    
.movie-extra{
    position: relative;
    left: 0;
    bottom: 10px;
}
}
.music-extra p{
    font-size: 12px;
}
.movie-extra i, .music-extra i{
    display: contents !important;
    color: transparent;
    padding-left: 2px;
    -webkit-text-stroke-width: 1px;
    cursor: pointer;
}
.movie-extra .add, .music-extra .add{
    -webkit-text-stroke-color: #19bc98;
    font-size: 30px;

}
.movie-extra .fav, .music-extra .fav{
    -webkit-text-stroke-color: #f11c8a;
    font-size: 28px;

}
.music-extra{
    margin-top: 30px;
    text-align: center;
}

.season-action{
    background: transparent !important;
    color: #fff;
    border: none !important;
    padding: 4px 20px !important;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px !important;
    border-radius: 20px !important;
    font-size: 12px !important;

}

.movie-action{
    background: transparent !important;
    color: #fff;
    border: none !important;
    padding: 4px 20px !important;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 5px !important;
    border-radius: 20px !important;
    font-size: 12px !important;

}
.movie-action-icon{
    
    width: 25px !important;
    margin-top: -23px;
    margin-bottom: -20px;
    margin-left: -21px;
    margin-right: 5px;
}


.music-table{
    height: 230px;
    
    padding-top: 5px;
    white-space: nowrap;
    /* overflow: hidden; */
    border:none !important;
    text-overflow: ellipsis;
}
.custom-table{

}
.custom-table tbody tr{
    cursor: pointer;
}
.custom-table tbody tr td{
    border-top :none !important;
    font-size: 12px;
    color: #fff;
}
.custom-table tbody tr:hover td{
    background: rgb(25,188,152);
    color: #000;
}
.custom-table tbody tr:hover td .continue-text{
    color: #000 !important;
}
.custom-table tbody tr:hover td .fav, .custom-table tbody tr:hover td .add{
    -webkit-text-stroke-color: #000;
}
.custom-table tbody tr:hover td .icon{
    color: #000;
}
.custom-table tbody tr.active-row td{
    background: rgb(25,188,152);
    color: #000;
}
.custom-table tbody tr.active-row td .icon{
    color: #000;
}
.custom-table tbody tr.active-row td .continue-text{
    color: #000 !important;
}
.custom-table tbody tr.active-row td .fav, .custom-table tbody tr.active-row td .add {
    -webkit-text-stroke-color: #000;
}

.custom-table tbody tr td.title{
    font-weight: 900;
}
.custom-table thead tr th{
    border-bottom : 1px solid #1a2322 !important;
    font-size: 12px;
    font-family: 'lato-light'
}

.desc{
    margin-top: 20px;
    margin-bottom: 20px;
}

.hide{
    display: none
}
.description img{
}
.description{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    padding-left: 15px;
    padding-right: 15px;
}

.make-visible{
    display: block;
}

.desc-after, .desc-before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.desc-after {
	border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #000;
    border-width: 25px;
}
.desc-before {
	border-color: rgba(194, 225, 245, 0);
	border-width: 36px;
	margin-left: -36px;
}

.heading-container .line{
    height: 15px;
    border-bottom: 1px solid rgb(25,188,152);
    }
    .heading-container .action{
        width: 8%;
        float: left;
        text-align: end;
        padding-top: 2px;
    }
    .section-line{
        padding-left: 0px;
        width: 84%;
        float: left;
    }
    .section-icon{
        width: 8%;
        float: left
    }
    .heading-container .action button{
        color: rgb(25,188,152);
        padding-left: 0;
        background: transparent;
        border: none;
        text-align: start
        font-size: 16px;
        font-weight: 600;
    }

    .card-body{
        padding: 10px 0px 10px;
        cursor: pointer;
        z-index: 9999;
    }
    .tile-title{
        font-family: 'lato-black';
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    max-height: 1em;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .tile-text{
        
    font-family: 'lato-regular';
        font-weight: 500;
        font-size: 10px;
        padding: 0;
        margin: 0;
        line-height: 20px;
       max-height: 1.6em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.watch{
    display: table;
    width: 100%;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.padding-top{
    padding-top: 60px;
}
.continue{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    cursor: pointer;
}

.quit{
    padding-top: 15px;
    cursor: pointer
}
.quit i{
    width: 40px !important;
    height: 40px !important;
    background: #19bc98 !important;
    color: #000 !important;
    border-radius: 20px !important;
    padding: 8px !important;
}
.continue-text{
    font-family: 'lato-regular';
    /* font-weight: 700; */
    /* font-size: 14px; */
    color: #19bc98;
    line-height: 14px;
    padding: 0;
    margin: 0;
    max-height: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .tile-icon{
        padding: 1px 1px;
        float: left;
        min-height: 3em;
    }
    .tile-icon .icon{
        font-size: 17px;
        color: #19bc98;
    }
    .tile-icon .icon.outlined{
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #19bc98;
    }
    .outlined{
        font-size: 17px;
        color: transparent;
        -webkit-text-stroke-width: 2px;
        padding-right: 2px;
        -webkit-text-stroke-color: #19bc98;
    }
    .item-overlay{    
        display: table;
        vertical-align: bottom;
    }
    .v-align{
        height: 14em;
        display: table-cell;
        vertical-align: middle;
    }
    .rating-icon{
        color: yellow;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    font-size: 12px;
    }
    .rating{
        color: #000;
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        bottom: 1%;
        right: 5%;
        opacity: 0;
    }
    .tile-label{
        padding-top: 3px;
    }

    .footer-section{
        background-image: url('../images/footer.png');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
    }
    .download-section{
        background-image: url('../images/download.png');
        background-repeat: no-repeat;
        background-size: cover;
        
    background-position: top; 
    }
    .download-image{ 
        align-items: flex-end;
        display: flex;
        flex-direction: column;
    }
    .download-image img{
        width: 100%;
        filter: drop-shadow(0px 6px 30px #000);
    }
    .download{
        padding-top: 160px;
        padding-bottom: 30px;
    }
    .download h1{
        margin-left: 30%;
        margin-right: 30%;
        width: 60%;
        font-family: 'lato-black';
        color: #000;
    
    }
    .download p{
        margin-left: 30%;
        margin-right: 30%;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 60%;
        font-family: 'lato-regular';
        color: #000; 
    }
    .download .download-actions{
        margin-left: 30%;
        margin-right: 30%;
        width: 60%;
    }
    .download-button{
        width: 130px;
        height: 39px;
        border: none;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .download-button:focus{
        
     outline: none;
    }
    .download-button.google{
        background-image: url('../images/googlestore.png');
    }
    .download-button.apple{
        background-image: url('../images/appstore.png');
    }

    

    .logo{
        width: 100%;

    }

    .button-icon{
        width: 20px;
    }

    .navbar-custom{
        background: transparent !important;
        border: transparent !important;
        transition: .5s ease;
    }
    .navbar-menu{
        float: right !important;
    }

    .nav>li:hover>a>img.menu-icon{
        filter: grayscale(0%);
    }

    .menu-icon{
        width: 80px;
        filter: grayscale(100%);
        color: #fff;
    }
    .active .menu-icon{
        filter: grayscale(0%);
    }
    .active a{

        background-color: transparent !important;
    }
    .nav a{
        color: #fff !important;
    }

    .navbar-default.scrolled{
        background:#00100e !important;
        border: transparent !important;
        transition: .5s ease;
      }
      
    .navbar-default .navbar-collapse{
        border-color: transparent !important;
        background: #00100e;
        text-align: center;
    }
    .sign-in{
        padding-top: 12px;
      padding-bottom: 12px;
    }
    .btn-sign{
        background: transparent !important;
        color: rgb(25,188,152) !important;
        border-color: rgb(25,188,152) !important;
        padding: 3px 30px !important;
        border-radius: 20px !important;
        font-size: 16px !important;
    }
    button:focus{
        outline: none !important;
    }
    .btn-subscribe{
        background: rgb(25,188,152) !important;
        color: #000 !important;
        border-color: rgb(25,188,152) !important;
        padding: 3px 30px !important;
        border-radius: 20px !important;
        font-size: 16px !important;
    }

    .profile img{
        width: 25px; 
        height: 25px;
        border-radius: 20px;
    }
    .profile a{
    }
    .profile i{
        vertical-align: middle;
    }
    .profile .dropdown-menu{
        background: #000;
        text-align: center;
    }
    .profile .dropdown-menu .divider{
        background: transparent;
        display: none;
    }
    .profile.open a{
        background: transparent !important;
    }
    .pull-down{
        display: inline;
        position: relative;
        font-size: 12pt;
        bottom: -3px;
        font-weight: 600;
        
    }
    .signout{
        
        display: inline;
        position: relative;
        font-size: 12pt;
        bottom: -3px;
        font-weight: 600;
    }
    .nav>li.mobile{
        display: none;
    }
    .nav>li.default{
        display: inline;
    }
    @media(max-width: 767px){
        .nav>li.mobile{
            display: inline;
        }
        .nav>li.default{
            display: none;
        }
    }
    .left-pad{
        padding-left: 40px;
    }
    @media(max-width: 500px){
        .left-pad{
            padding-left: 0px;
        }
    }

    .btn-profile{
        background: rgb(25,188,152) !important;
        color: #000 !important;
        border-color: rgb(25,188,152) !important;
        padding: 3px 10px !important;
        border-radius: 20px !important;
        font-size: 16px !important;
        margin-left: 20px;
        display: inline;
    }

    .bottom{
        padding-top:  10%;
        display: block;
    }
    
    .bottom-mobile{
        display: none;
            
    }
    .footer-logo{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .footer-logo img{
        
	filter: invert(100%);
    }
    .footer-desc p{
        color: #000;
    }
    .footer-desc a{
        color: #000;
        font-weight: 600;
        cursor: pointer;
    }
    .footer-desc a:hover{
        color: #000;      
        text-decoration: transparent;
    }

    .footer-copy{
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 12px;
        color: #000;
    }
    .footer-copy span{
        
     font-family: 'lato-regular';
        font-size: 12px;
        color: #000;
    }
    .links{
        padding-top: 90px;
        padding-bottom: 30px;
    }
    .footer-support h4{
        color: #000;
        
     font-family: 'lato-light';
     font-weight: bold;
    }
    .footer-support a{
        
     font-family: 'lato-light';
        color: rgba(0, 0, 0, 0.801);
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
    }
    .footer-support a:hover{
        color: #000;        
        font-size: 13px;
        text-decoration: transparent;
    }
    .footer-social a i{
        font-size: 14px;
        padding: 10px 0px;
        color: rgba(0,0,0,0.5);
        cursor: pointer;
    }
    .footer-social a i:hover{
        color: #000;
    }

    .navbar-toggle{

        padding: 12px 10px !important;
    }
    .navbar-default .navbar-toggle{
        border-color: transparent !important;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
        background-color: transparent !important;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color: #fff !important;
    }

    
    .overlay-label{
        max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .overlay-text{
        max-height: 20px;
    }

    .dropdown-label{
        display : inline;
        padding-right: 8px;
        text-align: start;
       }
       
       .dropdown-select{
           
        background: url(../images/icon-down.png) no-repeat right transparent;
        background-size: 20px;
        font-family: 'lato-regular';
        cursor: pointer;
        color: #fff;
        border-color: rgb(25,188,152) ;
        padding: 4px 20px ;
        border-radius: 20px;
       }
       .dropdown-select:hover{
           
        background: rgb(25,188,152);
       }
       .dropdown-select:focus,.dropdown-select:active {
           
        outline: none;
       }
       .dropdown-select option:not(:checked) {
        background-color: #000; 
        color:#fff;
    }
    .dropdown-select option:active {
        background-color: #000; 
        color:#fff;
    }
    .dropdown-select option:checked {
        background-color: #000; 
        color:#fff;
    }
    .dropdown-select option:checked:after {
        background-color: red; 
        color:blue;
    }
    .dropdown-select option:hover,.dropdown-select option:focus  {
        background-color: rgb(25,188,152); 
        color:#fff;
    }
       .form-group select {
		
      cursor: pointer;
      }
      .form-group select::-ms-expand {
        display: none ;
      }

      .form-input {
        display: block;
        width: 100%;
        height: 34px;
    }
    .form-inline{
        text-align: start;
    }
    
.right-center{
    float: right !important;
}
 
    @media (max-width: 991px){
        .form-inline{
        
            text-align: start;
    }
        }
    @media (min-width: 768px){
    .form-inline .form-input {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
    }
 

    .padding{
        padding-top: 20px;
        padding-bottom: 20px
    }
    .packages{
        text-align: center;
        padding: 30px 60px;

    }
    .packages .column{
        text-align: start;
    }
    .conditions{
        text-align: start;
        padding: 30px 15px;
    }
    .conditions ul{
        padding-left: 20px !important;
    }
    .conditions h3{
        color: gray;
        font-size: 16pt !important;
        font-family: 'lato-black';
        font-weight: 600 !important;
    }
    .conditions ul li span{
        color: gray !important;
    }
    @media(max-width: 767px){
        
        .packages .column{
            text-align: center;
        }
        .packages ul{
            list-style-type: none;
        }
        .conditions ul{
            list-style-type: disc !important;
        }
        .packages{
            padding: 30px 20px;
    
        }

    }

    .packages h3{
        line-height: 1;
        font-size: 12pt;
    font-weight: 600;
    }
.packages ul{
    padding-left: 0;
    font-size: 12pt;
    
}
.packages button{
    margin-top: 20px;
    background: #0be6af !important;
    border-color: #0be6af !important;
    padding: 3px 15px !important
}
.packages ul li {
    color: gray;
}
.packages ul li span{    
    line-height: 1.5;
    color: #fff;
}

    .banner-image {
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media(min-width: 1367px) and (max-width: 2080px){
        .banner-image {
            height: 600px;
            background-repeat: no-repeat;
            background-size: cover;
        }

    }
    @media(min-width: 2081px){
        .banner-image {
            height: 800px;
            background-repeat: no-repeat;
            background-size: cover;
        }

    }
    .banner-content{
        display: table;
        height: 100%;
    }
    .banner-text{
        display: table-cell;
        vertical-align: middle;
    }
    .banner-text h2{
        font-family: 'lato-light';

    }
















    
    @media (min-width: 768px) {
        .navbar-default .navbar-collapse{
            background: transparent !important;
        }
        
      }

    @media (min-width: 425px) and (max-width: 992px){
        .heading-container .heading{
            width: 70px;
        
        }
    
    }
    @media (max-width: 600px){
        .heading-container .heading{
            width: 48px;
        
        }
    
    }

    @media (max-width: 767px){
        

        .download h1{
           width: 100%;
           
           margin-left: 0%;
           margin-right: 0%;
        
        }
        .download p{
            width: 100%;
            
           
           margin-left: 0%;
           margin-right: 0%;
        }
        .download .download-actions{
            width: 100%;
           
            margin-left: 0%;
            margin-right: 0%;
        }

    }

 

    
    @media (min-width: 768px) and (max-width: 992px) {
        .overlay .play-label h5{
          font-size: 16px
      }
      .overlay .play-label{
        padding: 4px;
      }
    }
    @media(max-width: 420px){
        .overlay .play-label h5{
            font-size: 14px
        }
    }
    
    @media(max-width: 991px){
        .play-icon img {
            width: 26px;
        }
    }


    @media(min-width: 1441px){
        .overlay .play-label h5{
            font-size: 20px
        }
        .play-icon img {
            width: 40px;
        }
    }

    @media (min-width: 768px) and (max-width: 992px){

        .download h1{
            margin-left: 10%;
            margin-right: 10%;
        
        }
        .download p{
            margin-left: 10%;
            margin-right: 10%;
        }
        .download .download-actions{
            margin-left: 10%;
            margin-right: 10%;
        }
    }
    .text-button{
    }
    @media(min-width: 420px) and (max-width: 992px){
        .heading-container .action button{
            
            font-size: 12px;
        }
        .heading-container .action{
            width: 13%;
        }
        .section-line{
            padding-left: 20px;
            width: 76%;
        }
        .section-icon{
            width: 11%;
        }
    }
    @media(max-width: 420px){
        .heading-container .action{
            width: 13%;
        }
        .section-line{
            padding-left: 20px;
            width: 76%;
        }
        .section-icon{
            width: 11%;
        }
        .heading-container .action button{
            
            font-size: 10px;
        }
    }

    @media (max-width: 992px){
        .download-image{
            display: none;
        }

        
        .bottom{
            display: none;
        }
        .bottom-mobile{
            text-align: center;
            
     display: block;
     padding-top: 100px;
            

        }
        .footer-desc-mobile{
            padding-left: 20px;
            padding-right: 20px;
        }
        .footer-desc-mobile a{
            
        color: #000;
        font-weight: 600;
        cursor: pointer;

        }
        .footer-desc-mobile p{
            
            color: #000;
    
            }
        .footer-social-mobile{
            display: inline-block;
            padding: 10px;
        }
        .footer-social-mobile ul{
            margin-bottom: 0;
            padding: 0;
            list-style: none;
        }
        .footer-social-mobile ul li{
            display: inline-block;
            padding: 10px;
        }
        .footer-social-mobile ul li a i{
            font-size: 14px;
            color: rgba(0,0,0,0.5)
        }
        .footer-social-mobile ul li a i:hover{
            font-size: 14px;
            color: #000;
        }
        .footer-copy-mobile{
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 12px;
            color: #000;
        }
        .footer-copy-mobile span{
            
         font-family: 'lato-regular';
            font-size: 12px;
            color: #000;
        }
    }


    .large-tab li a{
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-right: 0px !important;
    }




        .custom-nav{
    width: 100%;
        }
    .custom-tabs{
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #1a2322;
        margin-bottom: 5px !important;
        padding-left: 0;
        list-style: none;
        

    }
    .custom-tabs li:hover a{
        color: #fff;
    }

    .modal-close{
        padding-right: 15px;
    /* padding-top: 15px; */
    cursor: pointer;
    }
    .modal-close i{
        font-size: 16px !important;
        width: 20px !important;
        height: 20px !important;
        background: #fff !important;
        color: #000 !important;
        border-radius: 20px !important;
        padding: 2px !important;
    }

    .custom-tabs li a{
        color: #3c4342;
        font-size: 12px;
        position: relative;
        text-decoration: none;
    display: block;
    padding: 10px 15px;
    margin-right: 2px;
    border-radius: 4px 4px 0 0;
    }
    .custom-tabs li{
        
    list-style: none;
    flex-grow: 1;
    text-align: center;
    margin-bottom: -1px;
    position: relative;
    }

    .custom-tabs:before, .custom-tabs:after{
        display: table;
        content: " ";
    }
    .custom-tabs:after{
        clear: both;
    }

    .custom-tabs>li.active>a{
        cursor: default;
        color: #fff;
        font-weight: 700;

    }
    .custom-tabs>li.active{

        border-bottom: 3px solid #09c495;
    }


    .search-btn{
        cursor: pointer;
        position: relative!important;
        bottom: 28px !important;
        padding-right: 5px;
        float: right;
        cursor: pointer !important;
    }
    .search-field:focus{
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .search-field{
        padding-left: 0px !important;
      padding-right: 30px !important;
        background: transparent !important;
        color: #fff !important;
        border: none !important;
    border-bottom: 1px solid #19bc98 !important;
    border-radius: 0px !important;
    height: 26px !important;
    padding-top: 0px !important;
    }


    .watch{
        padding-top: 120px;
    }
    .padding-top{
        padding-top: 60px;
    }
    .player-section{
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .video-js .vjs-play-progress{
        background-color: #09c495 !important;
    }

    .video-js .vjs-volume-level{
        
        background-color: #09c495 !important;
    }

    .video-js .vjs-play-control .vjs-icon-placeholder{
        
        color: #09c495 !important;
    }
    .video-js .vjs-big-play-button{
        background-color: rgba(9, 196, 149, 0.5) !important;
     line-height: 2em !important;
     height: 2em !important;
     width: 2em !important;
     border: none !important;
     border-radius: 1em !important;
    }
    .custom-video:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus{
        background-color: rgb(9, 196, 149) !important;
    }

    .video-path{
        color:#09c495;
        padding-top: 2px;
        padding-bottom: 10px;
        font-family: 'lato-regular'
    }
    .video-section{
        background: #000
    }
    .video-content{
        padding: 50px;
    }

    .play-title{
        font-family: 'lato-regular';
        font-weight: 700;
        font-size: 20pt;
        color: #0be6af; 
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .play-sub{
        font-family: 'lato-regular';
        font-weight: 500;
        font-size: 16pt;
        color: #fff; 
        padding-bottom: 10px;
    }
    .play-sub-text{
        font-family: 'lato-regular';
        font-weight: 500;
        font-size: 12pt;
        color: #fff; 
        padding-bottom: 10px;
    }
    .play-content-title{

        font-family: 'lato-regular';
        font-weight: 600;
        font-size: 16pt;
        color: #fff; 
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .image-item{
        width: 12.5%;
        padding: 10px;
        float: left;
    }
    .related-title{
        font-weight: 600;
        font-family: 'lato-regular';
        margin-bottom: 20px;
        font-size: 16pt;
    }
    .watch .content-section{
        margin-top: 50px;
    }
    .table-section{
        margin-top: 50px;
    }
    @media (min-width: 768px) and (max-width: 1023px){
        
        .watch{
            padding-top: 100px;
        }
        .padding-top{
            padding-top: 40px;
        }
    }
    @media (min-width: 500px) and (max-width: 767px){
        .image-item{
            width: 25%;
        }
        .watch{
            padding-top: 75px;
        }
        .padding-top{
            padding-top: 30px;
        }
    }
    @media(max-width: 499px){
        .watch{
            padding-top: 75px;
        }
        .image-item{
            width: 50%;
        }
        .padding-top{
            padding-top: 30px;
        }
    }
    .image-item img{
        width: 100%;
    }
    .image-item h1{
        font-size: 12pt;
        font-weight: 700;
        font-family: 'lato-regular';
        margin-bottom: 2px;
    }
    .image-item p{
        font-size: 10pt;
        font-weight: 500;
        font-family: 'lato-regular';
        margin-bottom: 2px;
        color: gray
    }
    .play-rating{
        padding-bottom: 10px;
    }
    .play-rating span{
        padding-right: 2%;
        font-size: 16px;
    }

    .play-rating span i{
        font-size: 14px;
        width: 18px;
        height: 18px;
        vertical-align: middle;
    }

    .play-rating span i.like{
        color: #f61c8d;
    }
    .play-rating span i.view{
        color: #116f5f;
    }
    .play-rating span i.rate{
        color: #fffc00;
    }




    
.season-table{
    overflow: overlay !important;

}
.custom-table tbody tr td.responsive{
    display: table-cell;
}
.custom-table thead tr th.responsive{
    display: table-cell;
}
.season-table tbody tr td.responsive{
    display: table-cell;
}
.season-table thead tr th.responsive{
    display: table-cell;
}
@media (max-width: 767px){
    .custom-table tbody tr td.responsive{
        display: none;
    }
    .custom-table thead tr th.responsive{
        display: none;
    }
    .season-table tbody tr td.responsive{
        display: none;
    }
    .season-table thead tr th.responsive{
        display: none;
    }
}
.season-table tbody tr td{
    border-top :100px !important;
    
    border-bottom :20px !important;
    font-size: 10pt;
    color: #fff;
}
.season-table tbody tr{
    cursor: pointer;
}

.season-table tbody tr.active-row td{
    background: rgb(25,188,152);
    color: #000;
}
.season-table tbody tr.active-row td .icon{
    color: #000;
}
.season-table tbody tr.active-row td .continue-text{
    color: #000 !important;
}
.season-table tbody tr.active-row td .fav, .season-table tbody tr.active-row td .add {
    -webkit-text-stroke-color: #000;
}

.season-table tbody tr td.title{
    font-weight: 900;
}
.season-table thead tr th{
    border-bottom : 1px solid #1a2322 !important;
    font-size: 10pt;
    font-family: 'lato-light'
}

.signin-text{
    padding: 40px 80px
}
.block{
    display: block;
}
@media(max-width: 991px){
    .block{
        display: none;
    }
}
.subscribe-bg{
    min-height: 660px;
    height: -webkit-fill-available;
    max-height: 1200px;
    background-image: url(../images/signin-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pad-down{
    height: 120px;
    max-height: 120px;
    
    overflow: hidden;
    text-overflow: ellipsis;
}

.dialog{
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 2px #fff;
    text-align: center;
}
.dialog.bg{
    background-size: cover;
    background-repeat: no-repeat;
}
.dialog .top{
    padding-top: 20px;
    padding-bottom: 70px;
}
.message{
    font-size: 60pt;
}
.sign-header h3{
    color: #0be6af;
    font-family: 'lato-black'
}

.sign-content h3{
    
    color: #0be6af;
    font-size: 14pt;
    margin-bottom: 2px;
}
.dialog p{
    color: #000;
    font-size: 8pt;
}


.clearable{
    color: #d75a4a !important;
    display: inline-block !important;
    position: absolute !important;
    bottom: 10px !important;
    right: 0 !important;
    cursor: pointer !important;
}
.dialog{
    padding: 20px 0px;
}
.dialog h3{
    color: #000;
    font-weight: bolder;
}

.btn-login{
    background: #0be6af !important;
    color: #000 !important;
    border-color: #0be6af !important;
    width: 100% !important;
    border-radius: 20px !important;
    font-size: 16px !important;
}
.signup{
    height: 660px;
    display: table;
}
.form-footer .terms{
    margin-bottom: 2px;
    margin-top: 10px;
    font-size: 8pt;
}
.terms a{
    margin-left: 5px;
}
.form-footer p{
    color: #000;
    margin-bottom: 2px;
}
.form-footer a{
    text-decoration: underline;
}

.continue-space{
    padding-top: 30px !important;
    width: 85%;

}

.custom-label{
    position: relative !important;
    line-height: 5px !important;
}

.custom-check{
    margin: 0 !important;
    height: 15px !important;
    text-align: start !important;
    width: 15px !important;
}


@media(max-width: 480px){
    .music-title{
        line-height: 16pt;
        font-size: 12pt;
        padding-top: 5px;
        padding-bottom: 5px;
        
    }
    .season-top{
        font-size: 10px;
        padding-top: 8px;
    }
    .season-top span{
        color: #fff;
        padding-right: 5px;
        font-size: 10px;
    }
    .season-top i{
        font-size: 10px !important;
    }
    .season-title{
        line-height: 14px;
        font-size: 12pt;
        
    }
    .season-sub{
        font-size: 10px;
    }
    .music-sub{
        font-size: 10px;
    }
    .music-extra p{
        font-size: 8px;
    }
    .music-extra .add{
        font-size: 22px;
    
    }
    .music-extra .fav{
        font-size: 20px;
    
    }
    .music-extra{
        margin-top: 30px;
    }
}
@media (min-width: 371px) and (max-width: 450px){
    .movie-title{
        font-size: 30pt;
        line-height: 40px;
    }
    .movie-head{
        font-size: 13pt;
        padding-bottom: 8px;
    }
}
@media (max-width: 370px){
    .movie-head{
        font-size: 12pt;
        padding-bottom: 6px;
    }
    .movie-title{
        
        line-height: 30px;
        font-size: 20pt;
    }
}

  .input-container,
    {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: .3s ease;
  }
.input-container {
    transition-delay: .4s;
  }
.input-container:nth-child(2) {
    transition-delay: .5s;
  }
.input-container:nth-child(3) {
    transition-delay: .6s;
  }

  .input-container {
    position: relative;
    margin: 20px 60px;
  }
  .input-container input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 40px;
    border: 0;
    color: #212121;
    font-size: 12pt;
    font-weight: 400;
  }
  .input-container input:focus ~ label {
    color: #9d9d9d;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
            transform: translate(-12%, -50%) scale(0.75);
  }
  .input-container input:focus ~ .bar:before, .input-container input:focus ~ .bar:after {
    width: 50%;
  }
   .input-container input:valid ~ label {
    color: #9d9d9d;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
            transform: translate(-12%, -50%) scale(0.75);
  }
  .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 12pt;
    font-weight: 300;
    line-height: 40px;
    transition: 0.2s ease;
  }
  @media(max-width: 350px){
    .input-container label {
        position: absolute;
        top: 0;
        left: 0;
        color: #757575;
        font-size: 10pt;
        font-weight: 300;
        line-height: 40px;
        transition: 0.2s ease;
      }
  }
   .input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
  }
   .input-container .bar:before, .input-container .bar:after {
    content: '';
    position: absolute;
    background: #0be6af;
    width: 0;
    height: 2px;
    transition: .2s ease;
  }
   .input-container .bar:before {
    left: 50%;
  }
   .input-container .bar:after {
    right: 50%;
  }

  @media(max-width: 500px){
    .signin-text{
        padding: 40px 10px;
    }
  }

  .modal-backdrop.in{
    opacity: .7  !important;
}
.modal-backdrop{
    background-color: #00100e !important
}
.modal-open .content{
    -webkit-filter: blur(1px) ;
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
.modal-header.custom-header{
    background-image: url(../images/modal-header.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.modal-tabs{
    border-bottom: 1px solid #ddd !important;
}

.modal-tabs li a{
}
.modal-tabs>li.active a{

    color: #000 !important;
}

.list-table tbody tr td .playlist-button{
    background: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 3px 0px;
    width: 120px;
    border-radius: 20px;
    font-size: 14px;
}
.list-table tbody tr td .playlist-button.active{
    background: #0be6af;
    color: #fff;
    border: 1px solid #0be6af;
}
.list-table tbody tr td .playlist-button:focus{
    outline: none;
}

.list-table tbody tr td {
    color: #000;
    border: none !important;
}
.list-table tbody tr{
    border-bottom: 1px solid #ddd;
}
.list-table tbody tr td.first{
    width: 60px;
}
.list-table tbody tr td.button{
    
    float: right;
    padding-top: 20px;
}
.list-table tbody tr td.text{
    padding-top: 20px;
}
.list-table tbody tr td img{
    width: 100%;
}
.list-table tbody tr td .title{
    margin-bottom: 0;
    font-size: 10pt;
    font-family: 'lato-regular';
    font-weight: 600;
}
.list-table tbody tr td .sub-title{
    margin-bottom: 0;
    font-size: 8pt;
    font-family: 'lato-regular';
    color: #c0c0c0;
}
.list-table tbody tr:last-child{
    border-bottom: none;
}
.dialog-table{
    max-height: 280px;
    overflow-x: auto;
}
.divider{
    color: #000;
    font-size: 10pt;
    font-weight: 600;
    border-top: 1px solid #ddd;
    padding: 15px;
}

@media(max-width: 399px){
    .list-table tbody tr td.button{
        padding-top: 10px;
    }
    .list-table tbody tr td.text{
        padding-top: 10px;
    }
}


.modal-title{
    
    font-size: 16pt !important;
    font-family: 'lato-black' !important;
}
.modal-input{
    position: relative;
    margin: 20px 0px;
}

.modal-input input{
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 40px;
    border: 0;
    color: #212121;
    font-size: 12pt;
    font-weight: 400;
}
.modal-input label{
    position: absolute;
    top: 0;
    left: 0;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    line-height: 40px;
    transition: 0.2s ease;
}

.list-group-flush .list-group-item{border-right:0;border-left:0;border-radius:0}
.list-group-flush .list-group-item:first-child{border-top:0 !important}
.list-group-flush .list-group-item:last-child{border-bottom:0}

.error-content{
    margin-top: 250px;
}
.error-content h1{
    font-family: 'lato-black';
    padding-right: 10px;
    margin: 0;
    line-height: 0.7;
    color: #0be6af;
    font-size: 100pt;
    text-shadow: 0px 0px 50px rgba(0,0,0,0.5)
}
.text-404 h2{
    
    font-family: 'lato-regular';
    font-weight: 800;
    font-size: 40pt;
    margin: 0;

}
.text-404 h3{
    font-family: 'lato-regular';
    margin: 0;
    font-weight: 400;
    font-size: 30pt;

}
.text-404{
    padding-left: 10px;
}

.content-404{
    border-left: 4px solid #fff;
}

.btn-404{
    margin-top: 10px;
    background: #0be6af;
    color: #000;
    font-family: 'lato-regular';
    font-weight: 600;
    border-color: #0be6af;
    padding: 8px 50px;
    border-radius: 80px;
    font-size: 14pt;
    border: 1px solid transparent;
}

.btn-404:focus{
    outline: none;
}

@media(max-width: 600px){
.error-content h1{
    line-height: 0.7;
    font-size: 60pt;
    text-shadow: 0px 0px 50px rgba(0,0,0,0.5)
}
.text-404 h2{
    font-size: 26pt;

}
.text-404 h3{
    font-size: 18pt;

}
.text-404{
    padding-left: 10px;
}

.btn-404{
    padding: 4px 20px;
    font-size: 10pt;
}


}
.search-label{
    color: rgb(25,188,152);
    font-family: 'lato-regular';
    font-weight: 600;
    font-size: 18pt;
}

.search-main{
    width: 82%;
    background: transparent;
    border: 2px solid;
    padding: 5px 20px;
    border-color: rgb(25,188,152);
    border-radius: 20px 0px 0px 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: 'lato-regular';
}
.search-action{
    
    width: 18%;
    border: 1px solid transparent;
    background: rgb(25,188,152);
    padding: 6px 0px;
    margin-left: -3px;
    border-color: rgb(25,188,152);
    border-radius: 0px 20px 20px 0px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: 'lato-regular';

}
 
.search-main:focus{
    outline: none;
}
.custom-right{
    float: right;
}
@media(max-width: 767px){
    .custom-right{
        float: none;
    }
}
    
      
        


    
    


